<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/memberjoingenericservlet" method="post">
    <h3>GenericServlet</h3>
  username : <input type="text" name="username"/>
  age : <input type="text" name="age"/>
  <button type="submit">전송</button>
</form>
<br>
<form action="/memberjoinhttpservlet" method="post">
    <h3>HttpServlet</h3>
    username : <input type="text" name="username"/>
    age : <input type="text" name="age"/>
    <button type="submit">전송</button>
</form>


</body>
</html>